.navbar-brand {
    color:darkorange;
}

.jumbotron {
    background-image: url(image/jumbotron.jpg);
    background-size:cover;
}

body {
    background-image: url(image/repeat.jpg);
    background-repeat: inherit;
}

#who {
    padding-top: 30px;
}

.bordure {
    border-color: black;
    border-left: solid;
    
}

.logo {
    width:20%;
}

.nav-item {
    padding-right: 50px;
}

.nav-link {
    color: #adadad;
}

#skill {
    text-align: center;
}

.comp {
    width: 15%;
}

.icone {
    width:5%;
}

.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#navbarMenuPrincipal {
    right: 0;
    text-align:right;
}

.imageFix {
    width : 50%;
}